<div class="bg-light" >

<h1 class="text-primary" > {{title}} </h1>
<p id="hide" > welcome to {{title}} </p>
<button class="bg-success" id="b1" > try me </button>

<div>
{{# if val }}
  val true
  {{else}}
val false
{{/if}}
</div>

<div>
   
   {{# each array as |val key| }}
     {{key}} -  {{val}} <br>
   {{/each}}

</div>

  
</div>
<script>
$(document).ready(function(){
$('#b1').click(function(){
    $('#hide').hide();
});


});

</script>